# BEGIN 301 redirect from example.com to www.example.com
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.coderslodge.in/$1 [R,L]
</IfModule>
# END 301 redirect from example.com to www.example.com
