# BEGIN 301 redirect from example.com to www.example.com
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI}  [L,R=301]
</IfModule>
# END 301 redirect from example.com to www.example.com
